/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #b4b4b4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #181b29;
    margin-top: 50px;
    font-size: 50px;
}

.product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.product-row {
    display: flex;
    overflow-x: auto;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    flex-shrink: 0;
    width: 100%;
    height: 400px;
    scroll-snap-align: start;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.product-card {
    border: 1px solid #929292;
    border-radius: 10px;
    padding: 20px;
    background-color: #cfcfcf;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: calc(20% - 20px); 
}

.product-card img {
    max-width: 100%;
    height: 150px;
    
}

.product-card h2 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.product-card p {
    font-size: 1rem;
    color: #424242;
}

.product-card .price {
    font-size: 1.25rem;
    color: #1b154d;
    font-weight: bold;
}

.product-card .buy-button {
    background-color: #e91e63;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product-card .buy-button:hover {
    background-color: #c2185b;
}

.product-card:hover {
    transform-style: preserve-3d;
    transform: scale(1.02)
}

/* Slideshow container */
.content-slide {
    max-width: 1000px;
    position: relative;
    margin: auto;
    margin-top: 20px;
}



.imgslide img {
    vertical-align: middle;
    width:100%;height: 400px;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    color: rgb(255, 254, 224);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.8); 
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.pre:hover,
.next:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(0, 0, 0);
}

.text {
    color: #fafafa;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.content-slide .numberslide {
    color: #ffffff;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/*resposive*/

@media screen and (max-width: 800px) {

    .content-slide {
        padding: 8px 50px 12px 50px;
    }

    .next {
        right: 50px;
        border-radius: 3px 0 0 3px;
    }
    
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: .4;
    }    
    to {
        opacity: 1;
    }
}

.container .page {
    text-align: center;
    padding-top: 20px;
}

.page .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    display: inline-block;
    transition: background-color 0.6s ease;
    border-radius: 50%;
}

.page .active,
.page .dot:hover {
    background-color: #707070;
}



/* Style untuk card produk */
.card {
    width: 300px;
    height: 350px;
    background-color: #181b29;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 20px;
    text-align: center;
    width: calc(20% - 20px);
}

.card:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
}

/* Style untuk gambar produk */
.card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* Style untuk judul produk */
.card h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #008080ff
}

/* Style untuk deskripsi produk */
.card p {
    font-size: 16px;
    color: #fff;
}

/* Style untuk harga produk */
.card .harga {
    font-size: 20px;
    font-weight: bold;
    color: #d4d4d4;
}


header {
    background-color: #181b29;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
}



.logo img {
    height: 70px;
    margin-left: 20px;
    
}
.logo p {
    font-size: 20px;
    margin-left: 20px ;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    margin-right: 20px;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* Footer style */
footer {
    background-color: #181b29;
    color: #fff;
    text-align: center;
    padding: 10px 100px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-links {
    list-style: none;
}

.footer-links li {
    display: inline;
    margin-right: 10px;
    
    
}

.footer-links a {
    text-decoration: none;
    color: #fff;
}